body {
    font-family: helvetica, arial, sans-serif;
    margin: 2em;
    background-color:lightgrey;
}
  
h2 {
    font-size: 2em;
    text-align: center;

}

.pokemon img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
    padding-bottom: 3em;
    width: 66%;
    height: auto;
}